.treenode>text {}

body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0px;
}

.container {
    margin: 10px;
}

.col {
    height: 350px;
    float: left;
    overflow: auto;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 40%;
}

svg {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.arrowR,
.arrowL {
    fill: none;
    stroke: #888888;
    stroke-opacity: 1.0;
}

.tooltipb {
    /*display: none;*/
}

.background {
    background-color: #F1F2F6;
}

.well {
    position: absolute;
    top: 50px;
    width: 90%;
    height: 60%;
    padding: 10px;
    margin: 0 auto;
    color: #434A54;
    background-color: #FFF;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.well h2 {
    color: #434A54;
    background-color: #E6E9ED;
    border-color: #E6E9ED;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.debug {
    right: 0px;
    width: auto;
    bottom: 0px;
    top: auto;
    height: auto;
}

.jsonexport {
    width: 100%;
    height: 70%;
}

.btn {
    color: #FFF;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn,
.btn.disabled,
.btn[disabled] {
    background-color: #aab2bd;
    border-color: #aab2bd;
}

.btn.disabled,
.btn[disabled] {
    filter: alpha(opacity=45);
    opacity: .45;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
    color: #3bafda;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: #ccd1d9;
    border-color: #ccd1d9;
}

.btn-default,
.btn-default.disabled,
.btn-default[disabled] {
    background-color: white;
    color: #333;
}

.open .dropdown-toggle.btn-default {
    background-color: #ccd1d9;
    border-color: #ccd1d9;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #3bafda;
    border-color: #3bafda;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4fc1e9;
    border-color: #4fc1e9;
}

.open .dropdown-toggle.btn-primary {
    background-color: #4fc1e9;
    border-color: #4fc1e9;
}

.btn-info,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #37bc9b;
    border-color: #37bc9b;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #48cfad;
    border-color: #48cfad;
}

.open .dropdown-toggle.btn-info {
    background-color: #48cfad;
    border-color: #48cfad;
}

.btn-success,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #8cc152;
    border-color: #8cc152;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #a0d468;
    border-color: #a0d468;
}

.open .dropdown-toggle.btn-success {
    background-color: #a0d468;
    border-color: #a0d468;
}

.btn-warning,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #f6bb42;
    border-color: #f6bb42;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: #ffce54;
    border-color: #ffce54;
}

.open .dropdown-toggle.btn-warning {
    background-color: #ffce54;
    border-color: #ffce54;
}

.btn-danger,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
    background-color: #da4453;
    border-color: #da4453;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #ed5565;
    border-color: #ed5565;
}

.open .dropdown-toggle.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-group .btn-danger:first-child,
.btn-group .btn-info:first-child,
.btn-group .btn-primary:first-child,
.btn-group .btn-success:first-child,
.btn-group .btn-warning:first-child,
.btn-group .btn:first-child {
    border-left-color: transparent;
}

.btn-group>.btn:first-child {
    margin-left: 0px;
}

.btn-group .btn {
    border-left-color: #96A0AD;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    float: left;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.left-space {
    padding-left: 25px;
}

input[type="text"] {
    width: 70%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

b {
    font-weight: 900;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

.tooltip,
.tooltipb {
    font-size: 10pt;
    font-weight: 900;
    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
    cursor: pointer;
    shape-rendering: geometricprecision;
}

.cutwidths {
    font-weight: 600;
}

.node {
    stroke: #ffffff;
    shape-rendering: geometricprecision;
}

.node:hover {
    stroke: red !important;
    stroke-opacity: 1.0;
    cursor: pointer;
}

.link,
.treelink,
.bp-link {
    fill: transparent;
    opacity: 0.5;
    shape-rendering: geometricprecision;
}

.treelink {
    stroke: #888888;
}

.highlight {
    stroke: red;
    stroke-width: 4px;
    stroke-opacity: 1.0;
}

.cuts {
    stroke-dasharray: 5, 5, 5, 5, 5, 5, 10, 5, 10, 5, 10, 5;
    stroke: #30BD4B;
    stroke-width: 1px;
}

.halfline {
    stroke: rgba(102, 175, 233, .6);
    stroke-width: 1px;
}

.maxcut {
    font-size: 35pt;
    font-weight: 900;
    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
    text-anchor: middle;
}

.treenode circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.treenode circle:hover {
    stroke: #4E606F;
}

.treenode.active {
    stroke: #4E60fF;
}

svg {}

code {
    padding: 2px 4px;
    color: #D14;
    white-space: nowrap;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    font-family: Monaco, Meno, Consolas, "Courier New", monospace;
    border-radius: 3px;
    font-size: 12px;
}

.debugul li {
    margin: 15px;
}

.debugul.orders li {
    margin: 0px;
    margin-left: 15px;
}

.debugul.orders li.selected {
    list-style: circle;
}

.debugul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: auto;
    max-width: 400px;
}

.help li {
    margin: 15px;
}

.code-green {
    color: #3C763D;
}

.table {
    float: left;
    border-right: 1px dashed steelblue;
}